.weatherDataContent{
    background-color: deepskyblue;
    width: 500px;
    display: -webkit-inline-flex;
    
}

.weatherExtraInfoContent{
    background-color: rgb(78, 203, 245); 
    width: 50%;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    padding-top: 1.5%;
}

.weatherTemparatureContent{
    background-color: rgb(78, 203, 245);
    display: inline-block;
    
}

.weatherTableContent{
    margin: auto;
    display: inline-table;
    margin-top: 5%;
    margin-left: 10%;   
}

.temparature{
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: #f5f5f5;
    margin-top: 15px;
}

.temparatureType{
    font-weight: bold;
    color: aquamarine;
    margin-left: 5%;
}


.wicon{
    color: rgb(226, 83, 83);
    margin-bottom: 20%;  
    padding-top: 4%;  
}

.extraInfoText{
    color: rgb(16, 171, 223);
    font-size-adjust: 10%;
    font-weight: bold;
}

