.weatherDataContent{
    background-color: #813db9;
    width: 500px;
    display: -webkit-inline-flex;
    
}

.weatherExtraInfoContent{
    background-color: rgb(70, 167, 199); 
    width: 50%;
    display: inline-block;
    
}


.weatherTemparatureContent{
    background-color: cornflowerblue;
    display: inline-block;
}

.weatherTableContent{
    margin: auto;
    display: inline-table;
    margin-top: 5%;
    
}


.temparature{
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: #781b85;
    margin-top: 15px;
}

.temparatureType{
    font-weight: bold;
    color: aquamarine;
    margin-left: 5%;
}


.wicon{
margin-bottom: 20%;
}