.locationContent{
    width: 100%;
    height: 50%;
    padding: 10px;
    color: lightgreen;
    font-family: cursive;
    overflow: auto;
    
}

.Location h1{
    margin: 0;
    white-space: nowrap;
}

.weatherLocationContent{
    width: 100%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px; 
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    min-height: 60vh;
    box-shadow: 10px 10px 40px - 12px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.Location{
    position: relative;
    padding-left: left;
    margin-inline-start: auto;
    width: calc(100%- 40px);
}